*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif,'Poppins', sans-serif;
}

html{                                           /*Global color not used*/
    --global-color-1:  #3A10E5;;
    --global-color-2: #fff;
    scroll-behavior: smooth;
}

main{
    margin-left: 280px;                       /*positioning for the cointent of main*/
    margin-right: 19px;
    
}

main h1{                                 /* header */
    text-align: center;     
    padding-top: 3%; 
}

.lang{                                  /* spacing for second header */
    padding-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.begin{                                 /* color for check marks and X */
    color: #3A10E5;
}

.lang thead{
    padding-bottom: 1%;
}

.lang thead tr td:nth-child(1){
    font-weight: bold;
    padding-left: 20%;
}

.lang thead tr td:nth-child(2){
    font-weight: bold;
    padding-left: 25%;
}

.lang thead tr td:nth-child(3){
    font-weight: bold;
    padding-left: 26%;
}

.lang thead tr td:nth-child(4){
    font-weight: bold;
    padding-left: 33%;
}

.lang thead tr td{
    font-size: 20px;
    letter-spacing: 1px;
    padding: 25px;
}

.lang tbody tr td{
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px;
}

.lang tbody tr td:nth-child(1n){
    padding-left: 50px;
}

.side-nav{                                   /* side nav starts */
    border-style: none solid none none;      /*boarder for just right of nav bar*/
    width:250px;                             /*positioning for the cointent of nav bar*/
    height: 100%;
    background: #3A10E5;
    position: fixed;                        /*positioning for the fixed nav bar*/
}

.logo{
    display: block;
    margin-bottom: 130px;
    margin-top: 35px;
    margin-left: 47px;
    color: white;
    font-size: 100px;
   padding-left: 6%;
}

.nav-links{
    list-style: none;
    position: relative;                      /*makes selector in the right spot*/
}

.nav-links li{
    padding: 10px 0;                        /*spacing for each nav link*/
}

.nav-links li a{
    color: #fff ;
    text-decoration: none;                   /* no underlined text */
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
}

.active{
    background:#fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;                               /* rough positioning for centering active */
    z-index: -1;                            /*removes fluttering when hover over active*/
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.3s;                   /*transition speed from each item*/
}

.nav-links li:hover a{
    color: black;
    transition: 0.1s;                       /*transition speed from each p tag to change color*/
}

.nav-links li:hover ~ .active{
    display: block;
}

.nav-links li:nth-child(1):hover ~ .active{         /*100% of the page devided by the number or li is 6 for every after the first ++by that number*/
    top: 2.6%;
}

.nav-links li:nth-child(2):hover ~ .active{
    top: 19.2%;
}

.nav-links li:nth-child(3):hover ~ .active{
    top: 35.8%;
}

.nav-links li:nth-child(4):hover ~ .active{
    top: 52.4%;
}

.nav-links li:nth-child(5):hover ~ .active{
    top: 69%;
}

.nav-links li:nth-child(6):hover ~ .active{
    top: 85.6%;
}

@media only screen and (max-width: 941px){
    .rm1{
        padding: 0;
        display: none;
    }
    .lang img{
        display: none;  
    }
    .lang thead{
        padding-bottom: 1%;
    }
    /* Shrink table to make fit screen */
    .lang thead tr td:nth-child(1){
        font-weight: bold;
        font-size: 90%;
        padding-left: 0%;
    }
    .lang thead tr td:nth-child(2){
        font-weight: bold;
        font-size: 90%;
        padding-left: 0%;
    }
    .lang thead tr td:nth-child(3){
        font-weight: bold;
        font-size: 90%;
        padding-left: 0%;
    }
    .lang thead tr td:nth-child(4){
        font-weight: bold;
        font-size: 90%;
        padding-left: 0%;
    }
    .lang tbody tr td:nth-child(2){
        padding-left: 0%;   
    }
    .lang tbody tr td:nth-child(3){
        padding-left: 0%;   
    }
    .lang tbody tr td:nth-child(4){
        padding-left: 0%;   
    }
    .lang tbody tr td:nth-child(5){
        padding-left: 0%;   
    }
}

@media only screen and (max-width: 600px){
    .side-nav{
        width: 110px;
    }
    main{
        margin-left: 25%;  
    }
    .logo{
        display: none;
    }
    .nav-links li a p{
        display: none;
    }
    .nav-links{
        padding-left: 28%;
    }

}


